{% extends 'master.html.twig' %}

{% block section_header_title %}
    {{ section_title }}
{% endblock %}
{% block section_header_action %}
{% endblock %}

{% block main %}
    <div class="row">
        <form action="{{ path('new_category') }}" method="post" class="col s12">

            <input type="hidden" name="id" value="{{ new_category_id }}">

            <div class="row">
                <div class="input-field col s12">
                    <input type="text" id="description" name="description" data-length="30"
                            {% if flash.has('inputs.description') %} value="{{ flash.get('inputs.description') }}" {% endif %}
                           class="size_counter validate {% if flash.has('errors.description') %} invalid {% endif %}">
                    <label for="description" class="active">Descripción</label>
                    {% if flash.has('inputs.description') %} <span class="helper-text"
                                                                   data-error="{{ flash.get('errors.description') }}"></span>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col s2 offset-s10">
                    <input type="submit" value="Guardar" class="waves-effect waves-light btn">
                </div>
            </div>

        </form>
    </div>
{% endblock %}